{% extends "base.html" %}

{% block title %}{{ tag }} &mdash; {{ site.name }}{% endblock %}

{% block content %}
<section class="tag-page">
    <h1>Posts tagged &ldquo;{{ tag }}&rdquo;</h1>
    <ul class="post-list-simple">
        {% for post in posts %}
        <li>
            <time datetime="{{ post.date.isoformat() }}">{{ post.date.strftime("%b %d, %Y") }}</time>
            <a href="/posts/{{ post.slug }}/">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <p class="back-link"><a href="/tags/">&larr; All tags</a></p>
</section>
{% endblock %}
